@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content-home {
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: bisque;
}

nav img {
    width: 50px;
}

nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    padding-left: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 800px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(120, 119, 119, 0.4);
    backdrop-filter: blur(4px);
    font-size: 20px;
}

nav ul li a {
    color: white;
    font-family: 'Dhurjati', sans-serif;
    text-decoration: none;
}

nav ul li a.active {
    border-bottom: 2px solid white;

}

/*Content*/
main {
    margin-top: 20px;
    height: 80vh;
    margin-left: 0;
    margin: 0;
}

main div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 27px;
    width: 80%;
    margin: auto;
}

main div span {
    display: flex;
    justify-content: space-between;
}

main div .txt-1 {
    color: white;
    font-size: 1.4rem;
    font-family: 'Inter', sans-serif;
}

main div h1 {
    color: white;
    font-size: 6rem;
    font-family: 'Open Sans', sans-serif;
}

main div span p {
    font-family: 'Inter', sans-serif;
    color: white;
    width: 24%;
    text-align: justify;
}



main div span h1 {
    font-size: 2rem;
    position: relative;
    bottom: 35%;
    font-weight: bold;
    color: black;
    border-radius: 50%;
    background-color: white;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu {
    float: right;
    clear: both;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 28px;
    transition: 2s ease linear;
}

.close {
    float: right;
    clear: both;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 28px;
    margin-right: 20px;
}



@media screen and (min-width: 299px) and (max-width: 519px) {
    .content-home {
        background-image: url('https://i.ibb.co/BVs39tC/background-home-mobile.jpg') !important;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: bisque;
        padding-top: 25px;
        height: 100vh;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        width: 100%;
        backdrop-filter: blur(12px);
    }

    nav {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 30px;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    .menu {
        display: block;
        transition: 2s ease linear;
    }

    .close {
        display: block;
        transition: 2s ease linear;
    }


    main div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 27px;
        width: 80%;
        margin: auto;
        margin-top: 86px;
    }

    main div span p {
        font-family: 'Inter', sans-serif;
        color: white;
        text-align: center;
        width: 100%;
    }

    main div span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    main div span h1 {
        margin-top: 20px;
        position: static;
    }

    main div .txt-1 {
        color: white;

        font-size: 1.4rem;

        font-family: 'Inter', sans-serif;

        text-align: center;

    }

    main div h1 {
        color: white;
        font-size: 6rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }
}